h1 {
	color: white;
	font-size: 40px;
	font-family: Trebuchet MS
}
a:link {
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
ol {
	color: white;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.back {
	background-color: black
}