h1 {
	color: white;
	font-size: 40px;
	font-family: Trebuchet MS
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: white;
  text-decoration: none;


}

a:active {
  color: white;
  background-color: white;
  text-decoration: none;
}

ol {
	color: white;
}

ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
	line-height: 90px;
}
.back {
	background-color: black
}
.button {
  font: Trebuchet MS;
	font-size: 50px;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 3px 6px 3px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
